<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-pills nav-fill" style='margin-bottom: 10px'>
			<li role="presentation" class="nav-item">
				<a href=".?t=dashboard" class="nav-link">Dashboard</a>
			</li>
			<li role="presentation" class="nav-item nav-fill">
				<a href=".?t=stream" class="active nav-link">Stream</a>
			</li>
			<li role="presentation" class="nav-item">
				<a href=".?t=history" class="nav-link">History</a>
			</li>
		</ul>
	</div>
</div>
<div class='row'>
	<div class="col-lg-12">
		<div class="card bg-light mb-3">
			<div class="card-header">Stream</div>
			<div class="card-body">
				<iframe src="https://player.twitch.tv/?channel=itege" style="width: 100%;" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
			</div>
		</div>
	</div>
</div>
